body,
html {
  background: #fff;
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
}

h1 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 0;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  width: 192px;
  height: 96px;
  padding: 8px;
  border: 1px solid black;
}

label {
  display: block;
  padding-bottom: 16px;
}

label>span.a {
  display: inline-block;
  vertical-align: middle;
  width: 64px;
  font-weight: bold;
}

label>span.b {
  display: inline-block;
  vertical-align: middle;
  width: 44px;
}

input[type=range] {
  vertical-align: middle;
}

#inputs {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

#root {
  width: 460px;
  white-space: nowrap;
  margin: 0 auto;
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 152px;
}

.button1 {
  background-color: #008CBA;
}

.button2 {
  background-color: #4CAF50;
}

.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #008CBA;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #008CBA;
  cursor: pointer;
}